<h1>ngIf</h1>
<div>
    <h2>Class:</h2>
    <pre>
        <code [innerHtml]="componentHtmlIf"></code>
    </pre>
</div>
<div>
    <h2>Template:</h2>
    <pre>
        <code [innerHtml]="templateHtmlIf"></code>
    </pre>
</div>
<div>
    <h2>Browser:</h2>
    <div *ngIf="showMe">Visible?</div>
    <br>
    <button (click)="toggleVisibility()">Toggle Visibility</button>
</div>
<br><br><br><br><br><br>

<h1>ngFor</h1>
<div>
    <h2>Class:</h2>
    <pre>
        <code [innerHtml]="componentHtmlFor"></code>
    </pre>
</div>
<div>
    <h2>Template:</h2>
    <pre>
        <code [innerHtml]="templateHtmlFor"></code>
    </pre>
</div>
<div>
    <h2>Browser:</h2>
    <ul>
        <li *ngFor="let country of countries">{{ country }}</li>
    </ul>
</div>
