<div>
    <h2>ng-if.component.ts:</h2>
    <pre>
        <code [innerHtml]="componentHtmlIf"></code>
    </pre>
</div>
<div>
    <h2>ng-if.component.html:</h2>
    <pre>
        <code [innerHtml]="templateHtmlIf"></code>
    </pre>
</div>
<div>
    <h2>Browser:</h2>
    <div *ngIf="showMe">Visible?</div>
    <button (click)="toggleVisibility()">Toggle Visibility</button>
</div>
<br><br><br><br><br><br>

<div>
    <h2>ng-for.component.ts:</h2>
    <pre>
        <code [innerHtml]="componentHtmlFor"></code>
    </pre>
</div>
<div>
    <h2>ng-for.component.html:</h2>
    <pre>
        <code [innerHtml]="templateHtmlFor"></code>
    </pre>
</div>
<div>
    <h2>Browser:</h2>
    <ul>
        <li *ngFor="let country of countries">{{ country }}</li>
    </ul>
</div>
