<h1>Property-Binding</h1>
<div>
    <h2>Class:</h2>
    <pre>
        <code [innerHtml]="componentHtmlPropertyBinding"></code>
    </pre>
</div>
<div>
    <h2>Template:</h2>
    <pre>
        <code [innerHtml]="templateHtmlPropertyBinding"></code>
    </pre>
</div>
<div>
    <h2>Browser:</h2>
    <a [href]="urlFromComponent">Link with URL from a component</a>
</div>
<br><br><br><br><br><br>

<h1>Event-Binding</h1>
<div>
    <h2>Class:</h2>
    <pre>
        <code [innerHtml]="componentHtmlEventBinding"></code>
    </pre>
</div>
<div>
    <h2>Template:</h2>
    <pre>
        <code [innerHtml]="templateHtmlEventBinding"></code>
    </pre>
</div>
<div>
    <h2>Browser:</h2>
    <button (click)="clickHandlerFromComponent()">A button with a click-handler</button>
</div>
<br><br><br><br><br><br>

<h1>Two-Way-Binding</h1>
<div>
    <h2>Class:</h2>
    <pre>
        <code [innerHtml]="componentHtmlTwoWayBinding"></code>
    </pre>
</div>
<div>
    <h2>Template:</h2>
    <pre>
        <code [innerHtml]="templateHtmlTwoWayBinding"></code>
    </pre>
</div>
<div>
    <h2>Browser:</h2>
    <input [(ngModel)]="inputValue" type="text">
    <br><br>
    <div>{{ inputValue }}</div>
</div>
<br><br><br><br><br><br>
